<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="{{url}}">
    </script>
    <script type="text/javascript">
      function initialize() {
      	var orig= new google.maps.LatLng( {{lat1}} ,{{lng1}})
      	var dest= new google.maps.LatLng( {{lat2}} ,{{lng2}})
      	var avgLatLng=new google.maps.LatLng( {{(lat1+lat2)/2}}, {{(lng1+lng2)/2}} )
        var mapOptions = {
          center: avgLatLng,
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker= new google.maps.Marker({
        	position: orig,
        	map: map,
        	title: "Here you are!"
        });
        var marker= new google.maps.Marker({
        	position: dest,
        	map: map,
        	title: "Here you will go!"
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>

